extends ../layout

block content
	div(class='#{user.theme}-theme')
		.col-sm-9
			.col-sm-12
				label.control-label(for='code') Start coding here!
			.col-sm-12
				textarea.form-control(type='text', name='code', id='code', style='height: 700px; width: 100%;')
			.col-sm-12.m-top-15
				if isStudent
					form.form-horizontal(id='end-session-form', action='/session/end', method='POST')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='shortCode', value='#{codeSession.shortCode}')
						button.btn.btn-lg.btn-danger.full-width(type='submit')
							| End Session
				else
					form.form-horizontal(id='leave-session-form', action='/session/leave', method='POST')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='shortCode', value='#{codeSession.shortCode}')
						button.btn.btn-lg.btn-danger.full-width(type='submit')
							| Leave Session
		.col-sm-3
			.col-sm-12
				label.control-label(for='chat') Chat
			.col-sm-12
				div(id='chat', style='height: 700px; width: 100%;')
			.col-sm-12
				textarea.form-control.m-top-5(type='text', name='chat-box', id='chat-box', style='height: 75px; width: 100%;')
			.col-sm-12.m-top-15
				button.btn.btn-lg.btn-danger.full-width(id='chat-button')
					i.fa.fa-commenting
					| Send
	script(type='text/javascript').
		var user = !{JSON.stringify(user)};
		var session = !{JSON.stringify(codeSession)};
	script(src='/js/session_page.js')