extends ../layout

block content
	script(src="/js/lib/codemirror.js")
	link(rel="stylesheet" href="/css/codemirror/codemirror.css")

	link(rel="stylesheet" href="/css/codemirror/theme/blackboard.css")
	link(rel="stylesheet" href="/css/codemirror/theme/cobalt.css")
	link(rel="stylesheet" href="/css/codemirror/theme/dracula.css")
	link(rel="stylesheet" href="/css/codemirror/theme/hopscotch.css")
	link(rel="stylesheet" href="/css/codemirror/theme/material.css")
	link(rel="stylesheet" href="/css/codemirror/theme/mdn-like.css")
	link(rel="stylesheet" href="/css/codemirror/theme/midnight.css")
	link(rel="stylesheet" href="/css/codemirror/theme/monokai.css")
	link(rel="stylesheet" href="/css/codemirror/theme/neo.css")
	link(rel="stylesheet" href="/css/codemirror/theme/night.css")
	link(rel="stylesheet" href="/css/codemirror/theme/pastel-on-dark.css")
	link(rel="stylesheet" href="/css/codemirror/theme/railscasts.css")
	link(rel="stylesheet" href="/css/codemirror/theme/solarized.css")
	link(rel="stylesheet" href="/css/codemirror/theme/yeti.css")

	script(src="/js/codemirror/addon/multiplex.js")
	script(src="/js/codemirror/addon/overlay.js")
	script(src="/js/codemirror/addon/simple.js")

	script(src="/js/codemirror/mode/javascript/javascript.js")
	script(src="/js/codemirror/mode/htmlmixed/htmlmixed.js")
	script(src="/js/codemirror/mode/xml/xml.js")
	script(src="/js/codemirror/mode/css/css.js")
	script(src="/js/codemirror/mode/clike/clike.js")
	script(src="/js/codemirror/mode/clojure/clojure.js")
	script(src="/js/codemirror/mode/coffeescript/coffeescript.js")
	script(src="/js/codemirror/mode/django/django.js")
	script(src="/js/codemirror/mode/fortran/fortran.js")
	script(src="/js/codemirror/mode/go/go.js")
	script(src="/js/codemirror/mode/haskell/haskell.js")
	script(src="/js/codemirror/mode/handlebars/handlebars.js")
	script(src="/js/codemirror/mode/htmlembedded/htmlembedded.js")
	script(src="/js/codemirror/mode/jade/jade.js")
	script(src="/js/codemirror/mode/markdown/markdown.js")
	script(src="/js/codemirror/mode/pascal/pascal.js")
	script(src="/js/codemirror/mode/perl/perl.js")
	script(src="/js/codemirror/mode/php/php.js")
	script(src="/js/codemirror/mode/python/python.js")
	script(src="/js/codemirror/mode/r/r.js")
	script(src="/js/codemirror/mode/ruby/ruby.js")
	script(src="/js/codemirror/mode/sass/sass.js")
	script(src="/js/codemirror/mode/sql/sql.js")
	script(src="/js/codemirror/mode/swift/swift.js")
	script(src="/js/codemirror/mode/xml/xml.js")

	div(class='#{user.chatTheme}-theme')
		.col-sm-9
			.col-sm-6.m-top-15
				label.control-label(for='code') Start coding here!
			.col-sm-6.m-bottom-5
				button.btn.btn-sm.btn-danger.pull-right(id='save-button')
					| Save
				div.pull-right.m-right-15.hidden(id='saving-spinner')
					i.fa.fa-spinner.fa-spin(style='font-size: 16px; margin-top: 10px;')
					| Saving
				
			.col-sm-12
				textarea.form-control(type='text', id='codemirror', style='height: 700px;')
			.col-sm-6.m-top-5
				label.control-label(for='language') Language
				select.form-control(name='language', id='language')
					each val, key in languages
						option(value=val)= key
			.col-sm-6.m-top-20
				if isStudent
					form.form-horizontal(id='end-session-form', action='/session/end', method='POST')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='shortCode', value='#{codeSession.shortCode}')
						button.hidden(type='submit', id='end-session-form-button')
					button.btn.btn-lg.btn-danger.full-width(id='end-session-button')
						| End Session
				else
					form.form-horizontal(id='leave-session-form', action='/session/leave', method='POST')
						input(type='hidden', name='_csrf', value=_csrf)
						input(type='hidden', name='shortCode', value='#{codeSession.shortCode}')
						button.btn.btn-lg.btn-danger.full-width(type='submit')
							| Leave Session
		.col-sm-3(style='margin-top: 17px;')
			.col-sm-12
				label.control-label(for='chat') Chat
			.col-sm-12
				div(id='chat', style='height: 700px; width: 100%;')
			.col-sm-12
				textarea.form-control.m-top-5(type='text', name='chat-box', id='chat-box', style='height: 75px; width: 100%;')
			.col-sm-12.m-top-20
				button.btn.btn-lg.btn-danger.full-width(id='chat-button')
					i.fa.fa-commenting
					| Send

		div.hidden
			form(id='force-leave-form', action='/session/forceLeave', method='POST')
				input(type='hidden', name='_csrf', value=_csrf)
				input(type='hidden', name='shortCode', value='#{codeSession.shortCode}')
				button(type='submit', id='force-leave-button')

	script(type='text/javascript').
		var user = !{JSON.stringify(user)};
		var session = !{JSON.stringify(codeSession)};
		var csrf = !{JSON.stringify(_csrf)};		
	script(src='/js/session_page.js')