.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-share-alt
        | CodePeer
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
      if user && codeSession && codeSession.shortCode
        ul.nav.navbar-nav
          li.dropdown(class=title=='Theme'?'active':undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Theme
                i.caret
              ul.dropdown-menu
                li
                  form.form-horizontal(id='theme-form-default', action='/theme', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='theme', value='default')
                  a(href='#' onclick='$("#theme-form-default").submit()')
                    | Default
                    if user.theme == 'default'
                      i.fa.fa-check.pull-right
                li.divider
                li
                  form.form-horizontal(id='theme-form-terminal', action='/theme', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='theme', value='terminal')
                  a(href='#' onclick='$("#theme-form-terminal").submit()')
                    | Terminal
                    if user.theme == 'terminal'
                      i.fa.fa-check.pull-right
                li.divider
                li
                  form.form-horizontal(id='theme-form-blue', action='/theme', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='theme', value='blue')
                  a(href='#' onclick='$("#theme-form-blue").submit()')
                    | Blue
                    if user.theme == 'blue'
                      i.fa.fa-check.pull-right
      if user && user.role == 1 && path == '/home'
        ul.nav.navbar-nav
          li.dropdown(class=title=='Filters'?'active':undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Filter
                i.caret
              ul.dropdown-menu(style='min-width: 210px;')
                li
                  form.form-horizontal(id='filter-form-show-full', action='/filter/full', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                  a(href='#' onclick='$("#filter-form-show-full").submit()')
                    | Show Full Sessions
                    if user.filterSettings.showFull
                      i.fa.fa-check.pull-right(style='margin-top: 3px;')
                li.divider
                .text-center
                  b Time Started
                li
                  form.form-horizontal(id='filter-form-newest-first', action='/filter/time', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='time', value='new')
                  a(href='#' onclick='$("#filter-form-newest-first").submit()')
                    | Newest First
                    if user.filterSettings.timeOrder == 'new'
                      i.fa.fa-check.pull-right(style='margin-top: 3px;')
                li
                  form.form-horizontal(id='filter-form-oldest-first', action='/filter/time', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='time', value='old')
                  a(href='#' onclick='$("#filter-form-oldest-first").submit()')
                    | Oldest First
                    if user.filterSettings.timeOrder == 'old'
                      i.fa.fa-check.pull-right(style='margin-top: 3px;')
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Log In
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Sign Up
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Hello, #{user.firstName || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout