mixin session_list(codeSessions)
	each obj in codeSessions
		.session-list-item
			.col-sm-9.m-top-15
				.col-sm-6
					| #{obj.user.firstName} #{obj.user.lastName}
					br
					| #{obj.user.school}
				.col-sm-6
					i.fa.fa-user
					if obj.settings.noLimitOnActiveUsers
						| Active Users: #{obj.activeUsers.length} / &infin;
					else
						| Active Users: #{obj.activeUsers.length} / #{obj.settings.maxActiveUsers}
					if obj.minutesStartedAgo == 1
						p Session started #{obj.minutesStartedAgo} minute ago
					else
						p Session started #{obj.minutesStartedAgo} minutes ago

			.col-sm-3.text-center
				a.btn.btn-primary.m-top-15.pull-right(href='/session/#{obj.shortCode}')
					i.fa.fa-sign-in
					| Join Session